.detailContainer{
  display: flex;
  flex-direction: row;
  width: 65%;
  margin: auto;
}

.detailSpec{
  background-image: var(--bg-image);
  width: 35%;
  margin: auto;
  border-radius: 10px;
}

.detailSpec h2{
  font-size: large;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  margin: 1em 0 0 0;
}

.detailSpec h3{
  font-size: x-large;
  font-weight: 600;
  margin-top: 1%;
}

.detailImg{
  text-align: right;
  margin: auto;
  width: 65%;
}

img{
  width: 50%;
  margin: auto;
  border-radius: 10px;
}

.detail button{
  margin: 10px auto;
}