.App {
  text-align: center;
}

:root {
  /* BACKGROUNDS */
  
  --bg-color: #06ae1d;
  --bg-image: linear-gradient(45deg, #06ae1d 33%, #e7ed03 100%);
}

body {
  background-image: url( "E:\Mis Documentos\Documentos\SoyHenry\REACT\rick-and-morty\Client\src\assets\rymweb.jpg" );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* BUTTONS */

.btn {
  background-image: linear-gradient(to right, #06ae16 0%, #061700  51%, #e7ed03  100%);
  margin: 0 10px 0 10px;
  padding: 7px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;         
  font-weight: bold;   
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* INPUTS */

input {
  display: block;
  align-items: center;
  box-sizing: border-box;
  margin: 5px auto 5px auto;
  border-radius: 5px;
}

input:focus {
  outline: 2px solid #26d0cd87;
}