.FavContainer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 80%;
  margin: 15px auto 0 auto;

}

.favSelect{
  display: flex;
  flex-direction: row;
  margin: auto;
}

.favSelect option{
  background-color: black;
  color: white;
}

